<app-heading [text]="'Vehicle'"></app-heading>

<div class="ltk-porfolio">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-12">
        <h1 class="text-white pl-4">
          Supercars
        </h1>
      </div>
      <div class="col-lg-12 mt-4 ltk-gallery-title">
        <div class="container">
          <div class="row">
            <div *ngFor="let car of cars | paginate: { itemsPerPage: 6, currentPage: p}"
              class="col-lg-4">
              <work-card [card]="car"></work-card>
            </div>
            <div class="col-lg-12 mt-4 text-center">
              <pagination-controls class="ltk-pagination" autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
