@import "src/assets/scss/variables";

@media (max-width: 768px) {
  .ltk-about-me-headline {
    padding-top: 60px;
  }
}

.ltk-porfolio {
  padding-top: 50px;
}

.ltk-pagination {
  .ngx-pagination {
    .current {
      background: white;
      color: $blue;
      border-radius: 3px;
    }

    a {
      color: white;
      border: 1px solid transparent;

      &:hover {
        transition-duration: .3s;
        background: transparent;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid white;
      }
    }
  }
}

.ltk-design-title {
  border-left: 10px solid white;
}
