.login{
    height: 80vh;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

img {
    height: 100%;
    object-fit: cover;
}

.content {
    text-align: center;
    top: 0;
    left: 0;
    padding: 0 5rem;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}