<div class="login-form">
  <div class="row">
    <div class="col-lg-8">
      <div class="login-normal p-4 h-100  w-100">
        <form [formGroup]="regisForm" class="pl-4">
          <h2 class="pb-2"> <i class="fas fa-key pr-2"></i>Register</h2>
          <p>Access your favorite listings, matching alerts, discounted property alerts, and more.</p>
          <div class="depart wheretogo">
            <input type="text" placeholder="Full name" formControlName="fullName" name="username" class="w-100 p-2"
              required minlength="6">
          </div>
          <div class="depart wheretogo pt-3 ">
            <input type="text" placeholder="Address" formControlName="address" name="password" class="w-100 p-2"
              required minlength="6">
          </div>
          <div class="depart wheretogo pt-3 ">
            <input type="number" placeholder="ID number" formControlName="idCard" class="w-100 p-2" required
              minlength="6">
          </div>
          <div class="depart wheretogo pt-3 ">
            <input type="email" placeholder="Email" formControlName="email" class="w-100 p-2" required minlength="6">
          </div>
          <div class="depart wheretogo pt-3 ">
            <input type="number" placeholder="Phone number" formControlName="phoneNumber" class="w-100 p-2" required
              minlength="6">
          </div>
          <ng-container>
            <div class="form-check pt-3">
              <input class="form-check-input" type="radio" formControlName="gender" value="nam" id="flexRadioDefault1">
              <label class="form-check-label">
                Male
              </label>
            </div>
            <div class="form-check pt-3">
              <input class="form-check-input" type="radio" formControlName="gender" value="nu" id="flexRadioDefault2"
                checked>
              <label class="form-check-label">
                Female
              </label>
            </div>
          </ng-container>
          <div class="depart wheretogo pt-3 ">
            <input type="password" placeholder="Password" formControlName="password" name="password" class="w-100 p-2"
              required minlength="6">
          </div>
          <ng-container>
            <div class="form-check pt-3">
              <input class="form-check-input" type="radio" formControlName="roleId" value="3" id="flexRadioDefault1">
              <label class="form-check-label">
                Customer
              </label>
            </div>
            <div class="form-check pt-3">
              <input class="form-check-input" type="radio" formControlName="roleId" value="2" id="flexRadioDefault2"
                checked>
              <label class="form-check-label">
                Owner
              </label>
            </div>
          </ng-container>
          <div class="submit pt-3 pb-2">
            <button (click)="onRegister()" class="btn btn-black w-50">
              Registration
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="login-pro p-4 h-100 w-100">
        <p class="text-white mt-4 text-center">Enjoy your trip with luxury cars.</p>
        <div class="logo float-right pt-2">
          <img class="w-100" src="assets/logo/las.png" alt="#">
        </div>
      </div>
    </div>
  </div>
</div>
