<app-heading [text]="'Booking cars'"></app-heading>
<div class="container booking p-4 rounded">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Booking Car Centre</h4>
      <form class="needs-validation" [formGroup]="bookingForm">

        <div class="mb-3">
          <label for="firstName">Full name</label>
          <input type="text" class="form-control" formControlName="fullName" id="firstName" placeholder="Full name">
        </div>

        <div class="mb-3">
          <label for="username">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" formControlName="email" id="username" placeholder="you@example.com">
          </div>
        </div>

        <div class="mb-3">
          <label for="phone">Phone number</label>
          <input type="text" class="form-control" formControlName="phoneNumber" id="phone" placeholder="(+84)xxxx"
            required>
        </div>

        <div class="mb-3">
          <label for="route">Route</label>
          <input type="text" class="form-control" formControlName="route" id="route" placeholder="Routes">
        </div>

        <div class="mb-3">
          <label for="route">Start Date</label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="startDate" ngbDatepicker
                #startDate="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="route">End Date</label>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="endDate" ngbDatepicker
                #endDate="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <h4 class="mb-3">Receive Vehicle Method</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="home" formControlName="receiveVehicle" type="radio" class="custom-control-input" value="home">
            <label class="custom-control-label" for="home">Receive at home</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="garage" formControlName="receiveVehicle" type="radio" class="custom-control-input" value="gara">
            <label class="custom-control-label" for="garage">Receive at garage</label>
          </div>
        </div>
        <hr class="mb-4">
        <button (click)="onSubmit()" class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
