<footer class="page-footer font-small">
  <div class="newsletter">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-lg-4 mt-md-0 mt-3 text-center">
          <!-- <h1 style="font-size: 3.5rem;" class="text-white font-weight-bold">LUCIEN ROUX</h1> -->
          <img class="w-50" src="assets/logo/las.png" alt="footer logo">
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-lg-2 bg-bl-2 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li class="py-2">
              <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="text-white">Home</a>
            </li>
            <li class="py-2">
              <a [routerLink]="['/porfolio']" routerLinkActive="router-link-active" class="text-white">Vehicle</a>
            </li>
            <li class="py-2">
              <a [routerLink]="['/about-me']" routerLinkActive="router-link-active" class=" text-white">Service</a>
            </li>
            <li class="py-2">
              <a [routerLink]="['/about-me']" routerLinkActive="router-link-active" class=" text-white">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 bg-bl  mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li class="py-2">
              <a class="text-white"><i class="far fa-compass mr-2"></i>B Area National University Dormitory,
                Thu
                Duc District, Ho Chi Minh City</a>
            </li>
            <li class="py-2">
              <a class="text-white"><i class="far fa-phone mr-2"></i>+84 98 495 14 21</a>
            </li>
            <li class="py-2">
              <a class="text-white"><i class="far fa-mailbox mr-2"></i>tranngocanh98@gmail.com</a>
            </li>
            <li class="py-2">
              <a href="https://phuquy.dev/" target="_blank" class="text-white"><i
                  class="fas fa-globe-asia mr-2"></i>tranngocanh98@gmail.com</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="container">
      <div class="footer-copyright pt-4 text-white row">
        <div class="col-lg-12 text-right">
          <p>
            <span class="pr-2" style="line-height: 3.5;" href="https://gocodee.com/">© 2021 copyright letuankhoi@desinger</span>
            <a href="https://www.facebook.com/tuan.khoi.02.08" target="_blank">
              <button class="btn btn-primary btn-ltk-footer mr-2"><i
                  class="fab fa-facebook-square ltk-ct-icon"></i></button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
