<div class="mdp-login">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 login-section-origin text-white bg-opacity rounded my-auto">
        <div class="h-100 text-center" style="padding-top: 15%;">
          <img class="w-50 mb-2" src="assets/logo/las.png" alt="#">
          <h4 class="font-weight-bold">Rio de Ferrari</h4>
          <p>Platform allow you rent luxury cars as you want.</p>
          <button role="button" (click)="register()" class="btn btn-light rounded-24 w-50">Sign-up</button>
          <p class="font-weight-bold my-2">OR</p>
          <button (click)="login()" class="btn btn-light rounded-24 w-50">Log-in</button>
          <p class="mt-2 mb-0">Terms & Condition</p>
          <p class="mt-2">Design by letuankhoi@designer © 2020 </p>
        </div>
      </div>
      <div class="col-lg-6 text-center my-auto d-none d-sm-block">
      </div>
    </div>
  </div>
</div>
