.mdp-login {
  height: 100vh;
  padding: 10px;
  background-image: url('../../../assets/images/w.png');
  background-size: cover;
}

.login-section-origin {
  height: 500px;
}

.bg-opacity {
  background-color: black;
}
