<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card- header card-header-primary">
                    <h4 class="card-title">Membership Program Management</h4>
                    <p class="card-category">Manage membership benefits</p>
                </div>
                <div class="card-body table-responsive">
                    <table *ngIf="customers" class="table table-hover">
                        <thead class="text-primary">
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers">
                                <td>
                                    {{customer.id}}
                                </td>
                                <td>
                                    {{customer.fullName}}
                                </td>
                                <td>
                                    {{customer.email}}
                                </td>
                                <td>
                                    {{customer.address}}
                                </td>
                                <td>
                                    {{customer.phoneNumber}}
                                </td>
                                <td>
                                    {{customer.gender}}
                                </td>
                                <td>
                                    <i (click)="confirmDelete(customer.id)" class="material-icons cursor-pointer">delete</i>
                                </td>
                                <td>
                                    <i (click)="editCustomer(customer.id)" class="material-icons cursor-pointer">create</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button [routerLink]="['/add-new-member']" routerLinkActive="router-link-active"  class="btn btn-primary">
                        Add new member
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>