<div class="ltk-blog-card">
  <div class="card text-white">
    <img class="card-img-top" [src]="blog.img" alt="">
    <div class="card-body">
      <h4 class="card-title">
        {{blog.title}}
      </h4>
      <span class="badge badge-dark">
        {{blog.tech}}
      </span>
   
      <span class="ltk-time">
        {{blog.time}}
      </span>
      <p style="-webkit-box-orient: vertical" class="card-text content-text-line-clamp">
        {{blog.descript}}
      </p>
      <span class="ltk-more">
        Learn more
      </span>
    </div>
  </div>
</div>