<div class="ltk-text-animate pt-4">
  <div class="container">
    <div class="row">
      <ul class="ltk-list">
        <li class="ltk-text">R</li>
        <li class="ltk-text">I</li>
        <li class="ltk-text">O</li>
        <li class="ltk-text">F</li>
        <li class="ltk-text">E</li>
        <li class="ltk-text">R</li>
        <li class="ltk-text">R</li>
        <li class="ltk-text">A</li>
        <li class="ltk-text">R</li>
        <li class="ltk-text">I</li>
      </ul>
    </div>
  </div>
</div>